::-webkit-scrollbar {
  width: .3rem;
  margin-right: .3rem;
  &-track {
    box-shadow: inset 0 0 5px $greySoft; 
    border-radius: .5rem;
  }
  &-thumb {
    background: $grey;
    border-radius: .5rem;
    &:hover {
      background: transparentize($greyHard, .65);
    }
  }
}

a {
  text-decoration: none;
  color: $link;
}

* {
  font-family: SemiBold; 
  font-size: 1rem;
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html, body, #root {
  // height: 100%;
  // overflow: hidden;
}

.app {
	@import "Header";
  @import "Home";
}