$fontList: "SFCartoonistHandSC-Italic.ttf", "SFProDisplay-BlackItalic.ttf", "SFProDisplay-BoldItalic.ttf", "SFProDisplay-HeavyItalic.ttf", "SFProDisplay-LightItalic.ttf", "SFProDisplay-MediumItalic.ttf", "SFProDisplay-RegularItalic.ttf", "SFProDisplay-Ultralight.ttf", "SFProText-Bold.ttf", "SFProText-Heavy.ttf", "SFProText-Light.ttf", "SFProText-Medium.ttf", "SFProText-Regular.ttf", "SFProText-Semibold.ttf";

@function split-str($string, $separator) {
  $index: str-index($string,  $separator);
  $str-1: str-slice($string, 1, $index - 1);
  $str-2: str-slice($string, $index + 1);

  @return $str-1 $str-2;
}

@each $font in $fontList {
  $family: split-str($font, "-");
  $family: nth($family, 2);
  $family: split-str($family, ".");
  $family: nth($family, 1);
  @font-face {
    font-family: '#{$family}';
    src: url('../fonts/#{$font}') format('truetype');
  }
}