#header {
	position: fixed;
	z-index: 99;
	.black {
		position: absolute;
		width: 100%;
		height: 100vh;
		left: 0;
		top: 0;
	}
	.menu {
		position: relative;
		white-space: nowrap;
		a {
			padding: 1rem;
			&:hover {
				color: $link;
			}
		}
		.active {
			color: $link;
		}
		.sub-menu {
			@extend .b-1;
			transition: 2s;
			position: absolute;
			background-color: $light;
			z-index: 2;
			top: 100%;
			&.tail:before {
				@include arrow(top, $grey, 1rem);
				position: absolute;
				top: -1rem;
				left: 20%;
				@extend .ml-5;
				content: '';
			}
			.menu {
				&:not(:last-child){
					@extend .bb-1;
				}
				.sub-menu {
					z-index: 3;
					left: 100%;
					top: -.1rem;
				}
			}
		}
	}
	@media screen and (max-width: 720px){
		position: initial;
		height: auto;
		padding: 0;
		flex-direction: column;
		.menu-wrapper {
			flex-direction: column;
			.menu {
				flex-direction: column;
				align-self: flex-start;
				border-bottom-width: 0 !important;
				white-space: pre-wrap;
				a {
					padding: .5rem;
				}
				.link {
					align-self: flex-start;
				}
				.sub-menu {
					position: initial;
					margin-left: 1rem;
					border-width: 0;
					&.tail:before {all: unset}
				}
			}
		}
	}
}