#home {
	z-index: 1;
	> div {
		@extend .bt-1;
		&:nth-child(odd) {
			background-color: $greySoft;
		}
	}
	#boa {
		.name {
			bottom: 2rem;
			left: 0;
			right: 0;
			text-align: center;
			// -webkit-text-stroke: 1px $grey;
		}
	}
}