$text: #000000;
$light: #ffffff;
$grey: #dfdfdf;
$greySoft: #f2f2f2;
$greyHard: #6B6B6B;
$border: #e9e8e6;
$link: #324591;
$blue: #144391;
$placeholder: #7F7F7F;

$color: $text $light $grey $greySoft $greyHard $border $link $blue $placeholder;
$colorText: text light grey grey-soft grey-hard border link blue placeholder;

$fontSize: 1;
$headings: $fontSize+(.25*6) $fontSize+(.25*5) $fontSize+(.25*4) $fontSize+(.25*3) $fontSize+(.25*2) $fontSize+(.25*1);

@for $i from 1 through length($headings) {
	$h: nth($headings, $i);
	h#{$i} {
		font-size: #{$h}rem !important;
		@extend .Bold;
	}
}

@for $i from 1 through length($color) {
	$c: nth($color, $i);
	$ct: nth($colorText, $i);
	.c-#{$ct} {
		color: #{$c};
	}
	.bc-#{$ct} {
		background-color: #{$c};
	}
}